h1{
    text-align: center;
background-color: #004643;
color: #FAF4D3;

}


.share-tech-regular {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body{
background-color: #FAF4D3;
font-family: "Share Tech";
color: #0C1618;
}

.red
{
color: red;
}

.dotted
{
    border-style:dotted;
    border-color: #004643;
}


