h1{
    text-align: center;
background-color: #004643;
color: #FAF4D3;
margin: 0%;
}


.share-tech-regular {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body{
margin: 0%;
background-color: #FAF4D3;
font-family: "Share Tech";
color: #0C1618;
padding: 2%;

}

.text
{
color: red;
}

.dotted
{
    border-style:dotted;
    border-color: #004643;
}


.red
{
width: 100px;
height: 100px;
background-color: red;
margin: 5px;
display: inline-block;
}

.blue
{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 5px;
    display: inline-block;

}

.green
{
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 5px;
    display: inline-block;

}



